<!DOCTYPE html>
{% load staticfiles %}

<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{% static 'myapp/style.css' %}" />
        <title>Course Listing APP - {% block title %}Welcome!{% endblock %}</title>
    </head>

    <body>
    {% if user.is_authenticated %}
          <p>Welcome, {{ user.username }}  <a href="{% url 'myapp:user_logout' %}">[logout]</a></p>
          <h1>{% block myhdg %}Hello  {{ user.username }} {% endblock %}</h1>
          {%  block mycourse %}   <p><a href="{% url 'myapp:mycourse' %}">MyCourses</a> </p> {% endblock %}

        {% else %}
          <p>Welcome, Guest <a href="{% url 'myapp:user_login' %}">[login]</a><a href="{% url 'myapp:register' %}">[register]</a></p>
           <h1>You need to login or Register First </h1>
        {% endif %}

        <div>

            {% block body_block %}
             request.session['viewed_post_%s' % post.id] = True

            {% endblock %}
        <p><a href="{% url 'myapp:topics' %}">Topics</a></p>
         <p><a href="{% url 'myapp:about' %}">About page</a></p>

        </div>
        <hr />

    </body>
</html>
